:root {
    /* ============ COLOUR ============= */
    --colour-dotworld-yellow: #F4C851;
    --colour-dotworld-green: #77EF62;
    --colour-dotworld-blue: #6DB3F2;
    --colour-dotworld-red: #F34968;
    
    --colour-dotworld-cream: #F4F1E9;
    --colour-dotworld-white: #FAFAFA;
    --colour-dotworld-dark: #272727;
    --colour-dotworld-black: #131313;


}