@import "../../styles/palette.css";

.pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    align-items: center;
    gap: 10px;
}

h1 {
    font-family: 'Bitcount';
    font-size: 4rem;
}


.postView {
    padding: 40px;
    flex: 1;
    min-height: 0; 
    /* overflow-y: auto;  */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

::-webkit-scrollbar {
    display: none;
}